<app-modal #partFormComponent>
  <ng-container *ngTemplateOutlet="modalHeader"></ng-container>
  <form [formGroup]="partForm" (ngSubmit)="createListing()">
    <label
      for="name"
      class="flex justify-between items-center mt-2 text-xs text-gray-600"
    >
      <div class="inline-block font-semibold">
        Part Name <span class="text-red-600">*</span>
      </div>
      <p
        *ngIf="submitted && f['name'].errors?.['required']"
        class="text-red-600"
      >
        Part name is required.
      </p>
    </label>
    <input
      id="partname"
      type="text"
      name="name"
      formControlName="name"
      class="block w-full p-3 mt-2 rounded-md text-gray-700 border-2 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      required
      [ngClass]="{ ' border-red-600': submitted && f['name'].errors?.['required'] }"
    />

    <label
      for="category"
      class="flex justify-between items-center mt-2 text-xs text-gray-600"
    >
      <div class="inline-block font-semibold">
        Category Type <span class="text-red-600">*</span>
      </div>
      <p
        *ngIf="submitted && f['category'].errors?.['required']"
        class="text-red-600"
      >
        Category type is required.
      </p></label
    >

    <select
      id="category"
      name="category"
      formControlName="category"
      class="block w-full p-3 mt-2 rounded-md text-gray-700 border-2 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      [ngClass]="{
        'border-red-700': submitted && f['category'].errors?.['required']
      }"
    >
      <option value="Engine">Engine</option>
      <option value="Drivetrain">Drivetrain</option>
      <option value="Electrical">Electrical</option>
      <option value="Interior">Interior</option>
      <option value="Exterior">Exterior</option>
      <option value="Suspension">Suspension</option>
      <option value="Misc.">Misc.</option>
      <option value="Tools">Tools</option>
    </select>

    <label
      for="link"
      class="flex justify-between items-center mt-2 text-xs text-gray-600"
    >
      <div class="inline-block font-semibold">
        Product Link <span class="text-red-600">*</span>
      </div>
      <p
        *ngIf="submitted && f['link'].errors?.['required']"
        class="text-red-600"
      >
        Product link is required.
      </p></label
    >
    <input
      id="link"
      type="text"
      name="link"
      formControlName="link"
      class="block w-full p-3 mt-2 text-gray-700 border-2 rounded-md bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      required
      [ngClass]="{ 'border-red-700': submitted && f['link'].errors?.['required'] }"
    />

    <label
      for="imageLink"
      class="flex justify-between items-center mt-2 text-xs text-gray-600"
    >
      <div class="inline-block font-semibold">
        Image Link <span class="text-red-600">*</span>
      </div>
      <p
        *ngIf="submitted && f['imageLink'].errors?.['required']"
        class="text-red-600"
      >
        Image link is required.
      </p>
    </label>
    <input
      id="imageLink"
      type="text"
      name="imageLink"
      formControlName="imageLink"
      class="block w-full p-3 mt-2 border-2 rounded-md text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      [ngClass]="{
        'border-red-700': submitted && f['imageLink'].errors?.['required']
      }"
    />

    <label
      for="partNumber"
      class="block mt-2 text-xs font-semibold text-gray-600"
      >Part Number
    </label>
    <input
      id="partNumber"
      type="text"
      name="partNumber"
      formControlName="partNumber"
      class="block w-full p-3 mt-2 rounded-md text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
    />

    <label for="reason" class="block mt-2 text-xs font-semibold text-gray-600"
      >Reason
    </label>
    <textarea
      id="reason"
      type="text"
      name="reason"
      formControlName="reason"
      class="block resize-none rounded-md w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
    ></textarea>

    <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
  </form>
</app-modal>

<ng-template #modalHeader>
  <div class="text-gray-800 py-3 flex justify-between items-center">
    <h3>Add A Part</h3>
  </div>
</ng-template>

<ng-template #modalFooter>
  <div class="py-3 flex justify-between items-center">
    <button
      (click)="close()"
      type="button"
      class="rounded-md shadow-lg sm:tracking-wider mx-2 border border-gray-300 px-4 py-2 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
    >
      Close
    </button>

    <button
      type="submit"
      class="bg-emerald-800 hover:bg-emerald-900 cursor-pointer text-gray-300 font-bold rounded-xl shadow-lg sm:tracking-wider py-2 px-4"
    >
      Submit
    </button>
  </div>
</ng-template>
