<div
  class="flex justify-between items-center p-3 bg-zinc-900 rounded-lg mb-5 min-w-sm max-w-4xl mx-auto sticky top-2"
>
  <div class="flex">
    <h6 class="mr-3">Filters:</h6>
    <ul class="flex">
      <li class="rounded-full border bg-emerald-900 px-2">Something</li>
    </ul>
  </div>
  <app-add-part-btn
    (onSubmitForm)="createNewListing($any($event))"
  ></app-add-part-btn>
</div>
<div class="grid grid-col-1 lg:grid-cols-4 gap-4">
  <app-part-listing
    *ngFor="let part of partListings"
    [part]="part"
  ></app-part-listing>
</div>
